@import "tailwindcss";

@theme {
  --color-primary: #ffffff;
  --color-secondary: #f97316;
  --color-background-light: #ffffff;
  --color-background-dark: #000000;
  --font-display: "Inter", sans-serif;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
